*{
  margin: 0;
  padding: 0;
}
body{
  background: hsl(216, 12%, 8%);
}
main{
  background-color: rgb(37, 45, 55);
  border-radius: 30px;
  padding: 20px;
  align-items: center;
  margin: 150px auto;
  width: min-content;
}

section{
 text-align: center;
 display: none;
}
h3{
  color:hsl(0, 0%, 100%); 
  font-weight: normal;
}
button{
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  border-radius: 20px;
  padding: 10px 110px;
  border: none;
  cursor: pointer;
  margin: 30px 0;
  font-weight: bold;
}
button:hover{
  color:hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}
h1{
  margin: 20px 0;
  color: hsl(0, 0%, 100%);
}
.numbers{
  font-size: 20px;
  color: hsl(217, 12%, 63%);
  background-color: hsl(216, 12%, 54%, 0.1);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  margin: 30px 8px;
  
}
.numbers:hover{
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 12%, 63%);
}
.rating-msg{
  display: inline-block;
  color: hsl(25, 97%, 53%);
  background-color:  hsl(217, 12%, 63%, 0.1);
  border-radius: 10px;
  padding: 6px;
 
}
p{
 color:hsl(217, 12%, 63%) ;
  margin: 25px 0;
}
@media screen and (max-width: 500px) {
  main{
    margin: 100px auto;
  }
}